$colorLightOrange: rgba(230, 119, 68, 0.849);
$bgColor: #292929;
$mainColor: rgba(255,255,255,0.5);
$colorWhite: white;
$colorBlack: black;
$colorPapaya: papayawhip;
$colorFB: #3b5998;
$colorWhatsapp: #25D366;
$colorYouTube: #FF0000;