@import "fonts";
@mixin buttons ($backgroundColor, $color, $hoverBGColor, $boxShadowColor) {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 3px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 15px;
  background-color: $backgroundColor;
  color: $color;
  border: none;
  transition: 0.3s;
  box-shadow: 0 1px 2px $boxShadowColor;

  @media (max-width: 480px) {
    max-height: 40px;
    font-size: 12px;
  }

  &:hover {
    background-color: $hoverBGColor;
  }
}

@mixin logo($fontSize, $paddingLogo) {
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-size: $fontSize;
  font-family: $font-logo;
  padding: $paddingLogo;

  span {
    color: red;
  }

}