

.carousel--single-article {

    font-weight: 600;
    background-color: white;
}

.carousel-header-primary {
    background-color: rgba(255,255,255,0.5);
    color: #292929;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    font-size: 16px;

    @media (min-width: "450px") {
        font-size: 24px;
    }
    @media (min-width: "760px") {
        font-size: 44px;
    }

    
}
.carousel__container {
    height: 100px;
        padding: 0;

    @media (min-width: 700px) {
        width: 200px;
        height: 200px;
        padding: 0;
    }


    .carousel-header {
        font-size: 12px;

        @media (min-width:"670px") {
            font-size: 14px;
        }
    
        @media (min-width: "760px") {
            font-size: 16px;
        }

        @media (min-width: "900px") {
            font-size: 18px;
        }
    
    }

    .carousel-control-prev span {
        font-weight: 700;
        color: black;
    }


    

    .button__carousel {
        font-size: 10px;

        @media (min-wid) {
            margin-bottom: 10px;
        }
        @media (min-width: "700px") {
            font-size: 16px;
        }
        
    }
}

.button__carousel_primary {
    font-size: 20px;
    

    @media (min-width: "450px") {
        font-size: 30px;
    }

    @media (min-width: "760px") {
        font-size: 40px;
    padding: 5px 30px;
    }
}







