@import "../settings/mixins";
@import "excursions";

.excursion__section-info {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 15px;


  &:nth-child(4) {
    margin-bottom: 0;
  }

  .excursion--inner-header {
    text-align: center;
    padding: 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid orangered;
  }

  img {
    height: 100%;
    width: 100%;
  }



  .excursion__section-price {
    display: flex;
    justify-content: space-between;
  }

  .excursion--price-info {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
  }

}
.single-btn {
  @include buttons(orangered, white, darkorange, orangered)

}

.excursion__section-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 20px 10px 30px;

  

  .more-info-button {
    @include buttons(mediumblue, white, dodgerblue, blue);
    margin-right: 10px;
  }
}


.excursion__detailed-main-header {
  background-color: skyblue;
  border-bottom: 3px solid orangered;
  padding-bottom: 15px;
}

.excursion__section-text {
  margin: 30px;
}


.excursion__detailed-info-container {
  display: flex;

  @media(max-width: 1000px) {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
  }



  .excursion__detailed-info {
    background-color: papayawhip;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 1000px) {
      height: 100%;
    }

    .excursion__detailed-text {
      margin-top: -180px;
      padding: 10px;

      @media (max-width: 1000px) {
        margin-top: 0;
      }
      @media(max-width: 710px) {
        font-size: 14px;
      }
    }
  }

  .excursion__detailed-main-info {
    display: flex;
    justify-content: space-between;
    font-size: 34px;
    padding: 20px;

    @media (max-width: 1000px) {
      font-size: 14px;
    }

    .excursion__detailed-inner-header {
      color: black;
      text-transform: uppercase;
      align-self: center;

    }

    .excursion__detailed-price {

      @media (max-width: 1000px) {
        font-size: 20px;
      }
    }
  }
}

.excursion__detailed-btn {
  font-size: 24px;
  position: relative;
  bottom: 200%;
  left: 40%;
  transform: translateX(-50%);

  @media (max-width: 1000px) {
    position: relative;
    bottom: 20px;
    font-size: 20px;
  }

  @media (max-width: 710px) {
    font-size: 18px;
    position: relative;
    left: 30%;
  }
}

.excursion__detailed-info-images {

  @media (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  img {
    width:100%;
    height: 200px;
  

    @media(max-width: 1000px) {
      width: 68%;
      height: 100%;
    }
  }

  @media (max-width: 1000px) {
    display: flex;
    flex-direction: row;
    width: 49%;
  }
}

.floating__image {

  @media (max-width: 810px) {
    display: flex;
    flex-direction: column;
  }
  img {
    float: left;
    width: 40%;
    min-width: 260px;
    height: 40%;
    margin: 0 20px 20px 0;
    @media (max-width: 810px) {
      width: 100%;
    }
    

    
  }

  p {
    padding: 0 10px;
    line-height: 2rem;
    margin-top: -10px;
  }
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}