@import "../settings/fonts";
body {
 background-color: #c9defa;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: $font-general;
}

.container1 {
  width: 80%;
  margin: 0 auto;
  min-width: 350px;
}

textarea {
  resize: none;
}

button {
  display: inline-block;
}

