@import "../settings/fonts";
@import "../settings/mixins";
.header__container {
  display: flex;
  justify-content: space-between;
  background-color: #3723e4;
 


  .header-logo {
    @include logo(26px, 10px);

    @media (min-width: "580px") {

      @include logo(34px, 15px);
    }
  
    
  }


  
  .header__user-container {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    font-size: 30px;
    color: white;
    .icon-shopping-cart {
      margin-left: 10px;
      color: red;
    }

    .header__login-link {
      font-size: 14px;
      margin-right: 0;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      

      @media (min-width:"490px" ) {
      font-size: 16px;
    
      }

      &:hover {
        color: silver;
      }
    }

    
    .icon {

      font-size: 18px;
      

      @media (min-width: "580px") {
        font-size: 24px;
      }
    }

  }
}


// ************************  header navigation ******************************


.header__navigation {
  display: flex;
  justify-content: center;
  background-color: #3723e4;
  


  .navigation-list {

    display: flex;
    flex-direction: column;
    text-align: center;

    @media (min-width: "780px"){
  
    flex-direction: row;
    list-style: none;
    text-transform: uppercase;
    margin: .7rem 0;

    }



    .navigation-list-item {
      border-bottom: 1px solid white;
      

      @media (min-width: "780px") {
        padding: 10px 20px;
        border-bottom: none;
      }

      a {
        text-decoration: none;
        color: white;

        &:hover {
          transition: 5s;
          border-bottom: 2px solid white;


        }
      }

    }
  }
}



