@import "../settings/fonts";
@import "../settings/mixins";
.header__container {
  display: flex;
  justify-content: space-between;
  background-color: #3723e4;
 


  .header-logo {
    @include logo(34px, 15px);
    
  }
  .header__user-container {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    font-size: 30px;
    color: white;
    .icon-shopping-cart {
      margin-left: 10px;
      color: red;
    }

    .header__login-link {
      font-size: 16px;
      color: white;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: silver;
      }
    }
  }
}


// ************************  header navigation ******************************


.header__navigation {
  display: flex;
  justify-content: center;
  background-color: #3723e4;
  


  .navigation-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-transform: uppercase;
    margin: .7rem 0;

    @media (max-width: 810px){
      display: flex;
      flex-direction: column;
      text-align: center;

    }

    .navigation-list-item {
      padding: 10px 20px;

      @media (max-width: 810px) {
        border-bottom: 1px solid white;
      }

      a {
        text-decoration: none;
        color: white;

        &:hover {
          transition: 5s;
          border-bottom: 2px solid white;


        }
      }

    }
  }
}



